---
import "../styles/global.css";
import eccomerce from "../assets/ecommerce.svg";
import gestion from "../assets/gestion.svg";
import soluciones from "../assets//soluciones_medida.svg";
import definicion from "../assets/definicion.svg"
import diseño from "../assets/diseño.svg"
import desarrollo from "../assets/desarrollo.svg"
import lanzamiento from "../assets/lanzamiento.svg"
import Hero from "./Hero.astro";
import Section from "./Section.astro";
import CTA from "./CTA.astro";
import Footer from "./Footer.astro";

const ecosystemCards = [
  {
    icon: eccomerce,
    title: "Venta online",
    description: "Con nuestro ",
    highlightText: "E-commerce",
    descriptionSuffix: ", venda las 24 horas más allá de su local físico.",
    showButton: true,
  },
  {
    icon: gestion,
    title: "Gestión de negocios",
    description: "Con nuestro ",
    highlightText: "Sistema Punto de Venta (POS)",
    descriptionSuffix:
      ", centralice y tome el control total de su operación diaria.",
    showButton: true,
  },
  {
    icon: soluciones,
    title: "Soluciones a medida",
    description: "Con nuestra ",
    highlightText: "Renovación Web",
    descriptionSuffix: ", proyecte autoridad y confianza ante el mercado.",
    showButton: true,
  },
];

const workflowCards = [
  {
    icon: definicion,
    title: "Definición",
    description: "Con nuestro ",
    highlightText: "E-commerce",
    descriptionSuffix: ", venda las 24 horas más allá de su local físico.",
    showButton: false,
  },
  {
    icon: diseño,
    title: "Diseño",
    description: "Con nuestro ",
    highlightText: "Sistema Punto de Venta (POS)",
    descriptionSuffix:
      ", centralice y tome el control total de su operación diaria.",
    showButton: false,
  },
  {
    icon: desarrollo,
    title: "Desarrollo",
    description: "Con nuestra ",
    highlightText: "Renovación Web",
    descriptionSuffix: ", proyecte autoridad y confianza ante el mercado.",
    showButton: false,
  },
  {
    icon: lanzamiento,
    title: "Lanzamiento",
    description: "Con nuestra ",
    highlightText: "Renovación Web",
    descriptionSuffix: ", proyecte autoridad y confianza ante el mercado.",
    showButton: false,
  },
];
---

<div>
  <Hero />

  <Section
    title="Nuestro ecosistema de soluciones"
    subtitle="Para operar, vender y crecer"
    cards={ecosystemCards}
    hasGradient={false}
  />

  <Section
    title="Nuestro flujo de trabajo"
    subtitle="Transformamos tu necesidad en una solución en 4 pasos"
    cards={workflowCards}
    hasGradient={false}
  />

  <CTA
    title="¿Listo para dar el salto?"
    subtitle="Descubre el respaldo tecnológico que tu negocio merece"
  />

  <Footer />
</div>
